{% extends 'data/base.html' %}
{% block content %}
	<form action="" method="post">
		{% csrf_token %}
		<input type="submit" name="" value="Ya Hapus" class="btn btn-danger btn-sm">
		<a href="{% url 'home_page' %}" class="btn btn-primary btn-sm">Kembali</a>
	</form>
{% endblock %}