<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@page {
			size: A4 landscape;
			margin: 1cm;
		}
	</style>
</head>
<body>
<font size="15px" color="#8a2be2"> DAFTAR ALUMNI</font>
<br><br>
<table border="1">
	<thead>
		<tr>
			 
               <th class="center">Nama Siswa</th>
                <th class="center">Nis</th>
                <th class="center">Jurusan</th>
                <th class="center">Ttl</th>
                <th class="center">Alamat</th>
		</tr>
	</thead>
	<tbody>
		 {% for siswa in data %}
              <tr>
              <td>{{ siswa.nama_siswa }}</td>  
              <td>{{ siswa.nis }}</td>
              <td>{{ siswa.jurusan }}</td>
              <td>{{ siswa.ttl }}</td>
              <td>{{ siswa.alamat }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>