{% extends 'data/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
     <a class="btn btn-primary btn-social pull-right" href="{% url 'alumni_add' %}" title="Tambah Data" data-toggle="tooltip">
      <i class="fa fa-plus"></i> Tambah
    </a>
    <a class="btn btn-primary btn-social pull-right" href="{% url 'alumni_to_pdf' %}" title="Cetak Data" data-toggle="tooltip">
      <i class="fa fa-plus"></i> Cetak
    </a>
  </h1>

</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
    
          <!-- tampilan tabel barang -->
          <table id="" class="table table-bordered table-striped table-hover">
            <!-- tampilan tabel header -->
            <thead>
              <tr>
     
                <th class="center">Nama Siswa</th>
                <th class="center">Nis</th>
                <th class="center">Jurusan</th>
                <th class="center">Ttl</th>
                <th class="center">Alamat</th>
                 <th class="center">Status</th>
                <th class="center">Opsi</th>
              </tr>
            </thead>
            <!-- tampilan tabel body -->
       		 
             {% for siswa in data %}
              <tr>
              <td>{{ siswa.nama_siswa }}</td>  
              <td>{{ siswa.nis }}</td>
              <td>{{ siswa.jurusan }}</td>
              <td>{{ siswa.ttl }}</td>
              <td>{{ siswa.alamat }}</td> 
              <td>{{ siswa.status }}</td> 
              <td>
                <a href="{% url 'alumni_edit' siswa.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'alumni_delete' siswa.id %}" class="btn btn-danger btn-sm">Hapus</a></td> 
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!--/.col -->
  </div>   <!-- /.row -->
</section>
{% endblock %}


