{% extends 'data/base.html' %}
{% block content %}
	<h3>Edit Data Peralatan</h3>
	<form action="" method="post" class="col-md-8">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="" value="Update" class="btn btn-primary">
	</form>
{% endblock %}