<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@page {
			size: A4 landscape;
			margin: 2cm;
		}
	</style>
</head>
<body>
<font size="15px" color="#8a2be2"> DAFTAR PERUSAHAAN</font>
<br><br>
<table border="1">
	<thead>
		<tr>
			
                <th class="center">Nama Perusahaan</th>
                <th class="center">Sektor Usaha</th>
                <th class="center">Alamat</th>
                <th class="center">No Telepon</th>
                <th class="center">Email</th>
                <th class="center">Posisi Yang dibutuhkan</th>
                <th class="center">Jumlah Kebutuhan</th>
                <th class="center">Jenis Kelamin</th>
                <th class="center">Batas Waktu</th>
                <th class="center">Deskripsi</th>
          
              </tr>
            </thead>
            <!-- tampilan tabel body -->
       		   {% for loker in data %}
              <tr>
              <td>{{loker.nama_perusahaan}}</td>  
              <td>{{loker.sektor_usaha}}</td>
              <td>{{loker.alamat}}</td>
              <td>{{loker.telepon}}</td>  
              <td>{{loker.email}}</td>
              <td>{{loker.posisi_dibutuhkan}}</td>
              <td>{{loker.jumlah_kebutuhan}}</td>
              <td>{{loker.jenkel}}</td> 
              <td>{{loker.batas_waktu}}</td> 
              <td>{{loker.deskripsi}}</td> 
             
              </tr>
          {% endfor %}
	</tbody>
</table>
</body>
</html>