{% extends 'data/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
     <a class="btn btn-primary btn-social pull-right" href="{% url 'loker_add' %}" title="Tambah Data" data-toggle="tooltip">
      <i class="fa fa-plus"></i> Tambah
    </a>
    <a class="btn btn-primary btn-social pull-right" href="{% url 'loker_to_pdf' %}" title="Cetak Data" data-toggle="tooltip">
      <i class="fa fa-plus"></i> Cetak
    </a>
  </h1>

</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
    
          <!-- tampilan tabel barang -->
          <table id="" class="table table-bordered table-striped table-hover">
            <!-- tampilan tabel header -->
            <thead>
              <tr>
     
                <th class="center">Nama Perusahaan</th>
                <th class="center">Sektor Usaha</th>
                <th class="center">Alamat</th>
                <th class="center">No Telepon</th>
                <th class="center">Email</th>
                <th class="center">Posisi Yang dibutuhkan</th>
                <th class="center">Jumlah Kebutuhan</th>
                <th class="center">Jenis Kelamin</th>
                <th class="center">Batas Waktu</th>
                <th class="center">Deskripsi</th>
                <th class="center">Opsi</th>
              </tr>
            </thead>
            <!-- tampilan tabel body -->
       		   {% for loker in data %}
              <tr>
              <td>{{loker.nama_perusahaan}}</td>  
              <td>{{loker.sektor_usaha}}</td>
              <td>{{loker.alamat}}</td>
              <td>{{loker.telepon}}</td>  
              <td>{{loker.email}}</td>
              <td>{{loker.posisi_dibutuhkan}}</td>
              <td>{{loker.jumlah_kebutuhan}}</td>
              <td>{{loker.jenkel}}</td> 
              <td>{{loker.batas_waktu}}</td> 
              <td>{{loker.deskripsi}}</td> 
              <td>
                <a href="{% url 'loker_edit' loker.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'loker_delete' loker.id %}" class="btn btn-danger btn-sm">Hapus</a></td> 
              </tr>
          {% endfor %}
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!--/.col -->
  </div>   <!-- /.row -->
</section>
{% endblock %}


