{% extends 'data/base.html' %}
{% block content %}
	<h3>Tambah Data Perusahaan</h3>
	<form action="" method="post" class="col-md-8">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="" values="Simpan" class="btn btn-primary btn-sm">
		<a href="{% url 'data_loker' %}" class="btn btn-primary btn-sm">Kembali</a>
	</form>
{% endblock %}